.nav{
    display: flex;
    justify-content: flex-end;
    height: 8.9vh;
    margin: 1em;
    font-size: 24px;
  }
  
  .menu-button{
    background: none;
    border: none;
    font-size: 200%;
    cursor: pointer;
    margin-right: 25px;
  }
  
  .dropdown{
    position: fixed;
    z-index: 1;
    top: 1%;
    left: 74%;
    width: 25%;
    height: 55%;
    background-color: white;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 24px;
  }
  
  .nav-location{
    background: none;
    font-size: 1.5em;
    padding: 1em;
    letter-spacing: 0.8em;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #3B3937;
  }
  
  .toggle-off{
    margin: 0.3em 0.74em;
  }

@media (min-width: 768px) and (max-width: 1199px){
  .nav{
    display: flex;
    justify-content: center;
    height: 14vh;
    margin: 1em;
    font-size: 24px;
  }
  
  .menu-button{
    background: none;
    border: none;
    font-size: 200%;
    cursor: pointer;
  }
  
  .dropdown{
    position: fixed;
    top: 1%;
    left: 55%;
    width: 35%;
    height: 60%;
    background-color: white;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 12px;
  }
  
  .nav-location{
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    padding: 6rem;
    color: #3B3937;
  }

  .navIcon {
    width: 25px;
  }
  
  .toggle-off{
    margin: 0.3em 0.64em;
  }
}

@media (min-width: 481px) and (max-width: 767px){
  .nav{
    display: flex;
    justify-content: center;
    height: 14vh;
    margin: 1em;
    font-size: 24px;
  }
  
  .menu-button{
    background: none;
    border: none;
    font-size: 200%;
    cursor: pointer;
  }
  
  .dropdown{
    position: fixed;
    top: 1%;
    left: 25%;
    width: 55%;
    height: 60%;
    background-color: white;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 20px;
  }
  
  .nav-location{
    display: flex;
    background: none;
    align-items: flex-end;
    text-decoration: none;
    padding: 1rem;
    color: #3B3937;
  }

  .navIcon {
    width: 60px;
    margin: -1em -0.64em 1em;
  }
  
  .toggle-off{
    /* margin: 0.3em 0.64em; */
  }
}


@media (min-width: 100px) and (max-width: 480px){
  .nav{
    display: flex;
    justify-content: center;
    height: 14vh;
    margin: 1em;
    font-size: 24px;
  }
  
  .menu-button{
    background: none;
    border: none;
    font-size: 200%;
    cursor: pointer;
  }
  
  .dropdown{
    position: fixed;
    top: 1%;
    left: 25%;
    width: 55%;
    height: fit-content;
    background-color: white;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 12px;
  }
  
  .nav-location{
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    padding: 1rem;
    color: #3B3937;
  }

  .navIcon {
    width: 20px;
    margin: -1em -0.64em 1em;
  }
  
  .toggle-off{
    margin: 0.3em 0.64em;
  }
}