.Work {
    display: flex;
    font-size: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: grey;
    width: 98.9vw;
    max-width: 100vw;
    h1 {
        font-size: 60px;
        font-family: "Montserrat", sans-serif;
    }
  }


  @media (min-width: 100px) and (max-width: 393px){
    .work {
        width: 60vw;
        height: 100vh;
        h1 {
            font-size: 10px;
        }
    }
  }