.Work {
    display: flex;
    font-size: 25px;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    h1 {
        font-family: "Montserrat", sans-serif;
    }
  }

  @media (max-width: 480px){
    .work {
        display: flex;
        font-size: 15px;
        flex-direction: column;
        align-items: center;
        background-color: lightgrey;
        h1 {
            font-size: 10px;
            font-family: "Montserrat", sans-serif;
        }
    }
  }