.gif {
    width: 40em; 
    margin: 55px;
    height: 80%;
    padding: 10px;
}

.icons {
    width: 15%;
}

.preview {
    display: flex;
    width: 90%;
    margin: 20px;
    font-size: 1.2em;
    color: black;
    background-color: lightblue;
    text-align: center;
}

h1 {
    font-family: "Montserrat", sans-serif;
}

.text {
    margin: 20px
}

.text h1{
    font-size: 2em;
    padding-bottom: 0.3em;
  }

.link {
    width: 25%;
    height: 15%;
    color: white;
}

.funny {
    position: absolute;
    left: 25%;
    color: lightblue
}

.funny:hover {
    color: black;
}

.deployedLink {
    font-size: 150px;
    text-decoration: none;
    margin-bottom: 15%;
}